<a href="https://colab.research.google.com/github/5harad/API-201-2023/blob/main/hw/API101/ps3-template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# API-101 PROBLEM SET #3

This is a bare-bones notebook that helps you get started with your analysis by loading `tidyverse` and the CPS data.

In [ ]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [ ]:
cps <- read_csv("https://5harad.com/datasets/API101/cps_data_for_problem_set3.csv")
head(cps)

Rows: 65600 Columns: 8
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): HOUSEHOLD ID
dbl (7): YEAR, AGE, SEX, INCWAGE, EMPLOYED, MARRIED, CHILDREN

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  HOUSEHOLD ID YEAR AGE SEX INCWAGE EMPLOYED MARRIED CHILDREN
1 1991_10003   1991 24  2       0   0        0       2
2 1991_10004   1991 31  2       0   0        0       0
3 1991_10007   1991 22  2   36000   1        0       0
4 1991_10015   1991 30  2       0   0        0       1
5 1991_10016   1991 41  2    7350   1        0       1
6 1991_10027   1991 35  2   29000   1        1       2